.App 
{
    align-items: center;
    justify-content: center;
}

.ag-root .ag-header { display: none; }

.ag-theme-material 
{
    width: 100%;
    margin-top: 1em; 
    text-align: left;
}

.input
{
    margin-top: 0.2em;
    padding: 0.1em;
    padding-left: 1em;
    background-color: white;
    border: 1px solid #ced4da;
    width: 100%;
}

.strikethrough { text-decoration: line-through; }

.refresh-button 
{
    position: fixed;
    bottom: 2em;
    right: 2em;
}

.container 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}