.App {
    align-items: center;
    justify-content: center;
    background-color: #1B1A55;
}

body {
    background-color: #1B1A55;
}

.ag-root .ag-header {
    display: none;
    color: antiquewhite;
}

.ag-center-cols-container {
    background-color: #1B1A55;
}

.ag-theme-material {
    width: 100%;
    margin-top: 1em;
    text-align: left;
    background-color: #1B1A55; /* Updated background color */
    color: antiquewhite;
}

.input {
    margin-top: 0.2em;
    padding: 0.1em;
    padding-left: 1em;
    background-color: #535C91; /* Updated background color */
    border: 1px solid #9290C3; /* Updated border color */
    width: 100%;
    color: antiquewhite;
}

.strikethrough {
    text-decoration: line-through;
}

.refresh-button {
    position: fixed;
    bottom: 2em;
    right: 2em;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1B1A55; /* Updated background color */
    color: antiquewhite;
}
